[Unit]
Description=Schezuancoin's distributed currency daemon
After=network.target

[Service]
User=schezuancoin
Group=schezuancoin

Type=forking
PIDFile=/var/lib/schezuancoind/schezuancoind.pid
ExecStart=/usr/bin/schezuancoind -daemon -pid=/var/lib/schezuancoind/schezuancoind.pid \
-conf=/etc/schezuancoin/schezuancoin.conf -datadir=/var/lib/schezuancoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
